CLAUDE.md
.claude
.DS_Store
minishell_tester/
docs/
.vscode/
file.supp

# Build artefacts
obj/
minishell
test_minishell
test_minishell.dSYM/
*.o
*.dSYM/

# Libft artefacts
libft/*.o
libft/libft.a

# Valgrind logs
vg-*.log
